database:
  # `postgresql_psycopg2`, `mysql`, `sqlite3` or `oracle`.
  engine: sqlite3
  name: ika.sqlite3
  host:
  port:
  user:
  password:

server:
  name: ika.ozinger.org
  description: Service bot - ika
  sid: 1KA

link:
  name: kanade.irc.ozinger.org
  host: 127.0.0.1
  port: 7002
  ssl: strict  # `strict`, `noverify`, `no`.
  encoding: utf-8
  password: NYBAFAT

logging:
  irc:
    channel: "#ika"
  sentry:
    dsn: null
    level: WARNING
  console:
    level: DEBUG
  file:
    name: ika.log
    level: DEBUG

services:
  ozinger:
    commands:
      - change_email
      - change_name
      - change_password
      - force_change_vhost
      - ghost
      - group
      - info
      - login
      - register
      - register_channel
      - ungroup
    events:
      - welcome
      - channel_join
      - channel_mention
      - check_registered
      - guard
  operserv:
    commands:
      - '*'
    events:
      - commit_hook
  legacy.chanserv:
    - '*'
  legacy.nickserv:
    - '*'
