{
	"server": {
		"name": "services.ozinger.org",
		"description": "Service bot - ika",
		"sid": "XXX"
	},
	"link": {
		"name": "kanade.irc.ozinger.org",
		"host": "127.0.0.1",
		"port": 7002,
		"password": "MTIzNA=="
	}
}
