SERVER = {
    'NAME': 'services.ozinger.org',
    'DESCRIPTION': 'Service bot - ika',
    'UID': 'XXX',
}

LINK = {
    'NAME': 'kanade.irc.ozinger.org',
    'HOST': '127.0.0.1',
    'PORT': '7002',
    'PASSWORD': 'MTIzNA==',
}
