{
	"server": {
		"name": "ika.ozinger.org",
		"description": "Service bot - ika",
		"sid": "1KA"
	},
	"link": {
		"name": "kanade.irc.ozinger.org",
		"host": "127.0.0.1",
		"port": 7002,
		"password": "MTIzNA=="
	},

	"database": "sqlite:///ika.sqlite3",

	"services": {
		"ozinger": [
			"commands.change_email",
			"commands.change_name",
			"commands.change_password",
			"commands.force_change_vhost",
			"commands.ghost",
			"commands.info",
			"commands.login",
			"commands.logout",
			"commands.register",

			"events.welcome",
			"events.check_registered"
		],
		"legacy.chanserv": [
		],
		"legacy.nickserv": [
			"commands.ghost",
			"commands.identify"
		]
	},

	"admin_channel": "#ika",
	"logging": "DEBUG"
}
