{
	"server": {
		"name": "services.ozinger.org",
		"description": "Service bot - ika",
		"sid": "1KA"
	},
	"link": {
		"name": "kanade.irc.ozinger.org",
		"host": "127.0.0.1",
		"port": 7002,
		"password": "MTIzNA=="
	},

	"services": {
		"ozinger": [
			"test"
		],
		"legacy.chanserv": [
		],
		"legacy.nickserv": [
		]
	},

	"admin_channel": "#ika"
}
