[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
dnspython = "*"
jsonfield = "*"
passlib = "*"
pyyaml = "*"
raven = "*"
channels = "*"
channels-redis = "*"
bcrypt = "*"

[requires]
python_version = "3.6"
