aioredis==1.2.0
appdirs==1.4.3
asgiref==2.3.2
async-timeout==3.0.1
attrs==18.2.0
autobahn==19.2.1
Automat==0.7.0
bcrypt==3.1.6
certifi==2018.11.29
cffi==1.12.1
channels==2.1.7
channels-redis==2.3.3
chardet==3.0.4
constantly==15.1.0
contextlib2==0.5.5
daphne==2.2.5
Django==2.1.7
dnspython==1.16.0
hiredis==1.0.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
jsonfield==2.0.2
msgpack==0.6.1
oauthlib==3.0.1
packaging==19.0
passlib==1.7.1
psycopg2==2.7.7
pycparser==2.19
PyHamcrest==1.9.0
pyparsing==2.3.1
pypiwin32==223
pytz==2018.9
pywin32==224
PyYAML==3.13
raven==6.10.0
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
Twisted==18.9.0
txaio==18.8.1
urllib3==1.24.1
waitress==1.2.1
zope.interface==4.6.0
